# ===========================================
# Sport IX Backend - Configuration
# ===========================================
PORT=3000
JWT_SECRET=CHANGEZ-CE-SECRET-UNIQUE-2024-SECURITE
NODE_ENV=development
